<!DOCTYPE html>{% assign hreflang = 'en' %}{% for lang in site.languages %}{% if lang.path == page.url %}{% assign hreflang = lang.iso-alpha2 %}{% endif %}{% endfor %}
<html hreflang="{{hreflang}}" dir="{{ page.direction }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/assets/css/stylesheet.css?v=5" media="screen" />
		<link rel="stylesheet" type="text/css" href="/assets/css/fa.css" media="screen" />

		<link rel="icon" type="image/x-icon" href="/assets/img/favicon.jpg" />
		<link rel="shortcut icon" href="/assets/img/favicon.jpg" />
		<link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom Feed">

		<title>{% if page.title == "WP-CLI" or page.title == nil %}WP-CLI - The command line interface for WordPress{% else %}{{ page.title }} | WP-CLI{% endif %}</title>
		<meta name="description" content="{{ page.description | default: 'WP-CLI is the command-line interface for WordPress. You can update plugins, configure multisite installations and much more, without using a web browser.' }}">
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{% if page.title == "WP-CLI" or page.title == nil %}WP-CLI - The command line interface for WordPress{% else %}{{ page.title }}{% endif %}" />
		<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
		<meta property="og:description" content="{{ page.description | default: 'WP-CLI is the command-line interface for WordPress. You can update plugins, configure multisite installations and much more, without using a web browser.' }}" />
		<meta property="og:site_name" content="WP-CLI" />
		<meta property="og:image" content="{{ site.url }}/assets/img/wp-cli-og-image.png" />
		<meta property="og:image:alt" content="WP-CLI Logo" />
		<meta property="og:locale" content="en_US" />
		<meta name="twitter:site" content="@wpcli" />
		<meta name="twitter:title" content="{% if page.title == "WP-CLI" or page.title == nil %}WP-CLI - The command line interface for WordPress{% else %}{{ page.title }}{% endif %}" />
		<meta name="twitter:description" content="{{ page.description | default: 'WP-CLI is the command-line interface for WordPress. You can update plugins, configure multisite installations and much more, without using a web browser.' }}" />
		<meta name="twitter:image" content="{{ site.url }}/assets/img/wp-cli-og-image.png" />
		<meta name="twitter:card" content="summary_large_image" />


		{% for lang in site.languages %}<link rel="alternate" hreflang="{{lang.iso-alpha2}}" href="{{site.url}}{{lang.path}}" />
		{% endfor %}
	</head>	
	{% if page.display_global_parameters %}
	<body class="display-global-parameters">
	{% elsif page.direction == 'rtl' %}
	<body class="rtl">
	{% else %}
	<body>
	{% endif %}
		<header class="cf">
		<div class="container">
			<h1><a href="/"><img alt="WP-CLI" src="/assets/img/wp-cli-logo-inverted.png" height="40px"></a> <span>The command line interface for WordPress</span></h1>

			{% include navigation.html %}
			{% include languages.html %}
		</div>
		</header>

		<div class="container">
			<section id="main_content">
